window {
  border: 1px solid #928374;
  background-color: #282828;
  font-family: "Berkeley-Mono", monospace;
  font-size: 14px;
}

#input {
  margin: 4px;
  padding: 2px 6px;
  border: none;
  border-radius: 0px;
  background-color: #3c3836;
  color: #ebdbb2;
}

#outer-box, #inner-box {
  margin: 0;
  padding: 4px;
  background-color: #282828;
}

#entry {
  padding: 2px 6px;
  margin: 1px 0;
  background-color: #282828;
  color: #ebdbb2;
}

#entry:selected {
  background-color: #d79921;
  color: #282828;
}
